@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

/* My 2nd attempt */

/* Reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* borders for debugging */
/* .header,
.footer {
  border: 2px solid red;
} */

body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* styling the .content */
.content{
  /* border: 2px solid yellowgreen; for debugging */
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

button {
  padding: 10px 15px;
}

/* styling header and footer */
.header,
.footer{
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.footer {
  background-color: #eee;
}

.right-links,
.left-links{
  /* border: 2px solid navy; */
  list-style: none;
  display: flex;
  gap: 15px;
}

a {
  text-decoration: none;
  color: #000;
}










/* My solution */
/*  
reset for whole page
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
}

.header,
.footer {
  display: flex;
  border: 2px solid;
  align-items: flex-start;
  padding: 10px;
  
}

.footer {
  background-color: #eee;
}

.content {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  gap: 15px;
}

.right-links, .left-links {
  border: 2px solid red;
  list-style: none;
  display: flex;
  gap: 15px;
}

.right-links {
  margin-left: auto;
}
*/
/* In case there are other <a> links on the page that I didn't want changed to this
I wanted to target the <a> tags specifically used in the header and footer */
/* .header ul li a, .footer ul li a{
    text-decoration: none;
    color: #898989;
}

.buttons {
  margin: 10px;
}

button {
  padding: 10px;
}
   */